<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="id.zelory.tanipedia"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".TaniPediaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CuacaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BeritaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TanyaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".KomoditasActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TentangActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BacaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".JawabActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
